<div class="d-lg-flex p-3 justify-content-md-center">
    <div class="jumbotron" style="width:100%">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form action="#">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <br>
      <table class="table table-striped">
        <thead>
        <th>Type</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Mail</th>
        <th></th>
        </thead>
        <tbody>
          <%@users_info.each do |user| %>
          <tr>
            <%case %>
            <%when user["role"] == 1 && user["is_active"] %>
              <td><i class="fas fa-user fa-3x"></i></td>
            <%when user["role"] == 1 && (not user["is_active"]) %>
              <td><i class="fas fa-user-slash fa-3x"></i></td>
            <%when user["role"] == 2%>
              <td><i class="fas fa-user-cog fa-3x"></i></td>
            <%when user["role"] == 3 %>
              <td><i class="fas fa-user-shield fa-3x"></i></td>
            <%end %>
            <td><%=user["first_name"] %></td>
            <td><%=user["last_name"] %></td>
            <td><%=user["email"] %></td>
            <%if user["role"]==1 %>
              <td>
                <button class="btn btn-outline-warning">Edit</button>
                <button class="btn btn-outline-danger">Delete</button>
              </td>
            <%else %>
            <td></td>
            <%end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
