<div class="container">
  <div class="d-lg-flex p-2 justify-content-md-center">
    <div class="jumbotron">
      <h2>Change Password</h2>
      <hr class="my-4">
      <form>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Old password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="New password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm new password">
        </div>
        <button href="#" class="btn btn-outline-warning btn-block">Save</button>
      </form>
    </div>
  </div>
</div>