<div class="container">
  <div class="d-lg-flex p-2 justify-content-md-center">
    <div class="jumbotron">
      <h2>Password recovery</h2>
      <small class="">Please, enter your email and we will send you a code.</small>
      <hr class="my-4">
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <a href="/change_password/index"><button class="btn btn-outline-warning btn-block">Recover Password</button></a>
      </form>
    </div>
  </div>
</div>