/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";
@import "font-awesome";

.btn-outline-warning{
  color: #FFA500;
}

.btn-outline-warning {
  border-color: #FFA500;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #FFA500;
  border-color: #FFA500;
}
body{
  background-color: #e9ecef;
  position: relative;
}

.jumbotron{
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: #F7F7F7;
}

footer {
  background-color: white;
  width: 100vw;
  height: 200px;
  bottom: 0;
}
thead {
  background-color: #FFA500;
}
table{
  width: 100%;
}
.admin-btn{
  width: 30vh;
  height: 30vh;
}

.fa-hand-thumbs-up {
  color: #008f39;
}
.fa-hand-thumbs-down {
  color: #ff0000;
}