<div class="container justify-content-md-center text-center">
    <div class="jumbotron">
      <div class="col-lg-4">
        <div style="background-color: #B00100;width: 100%">something</div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <button class="btn admin-btn btn-outline-success">Black List</button>
          <button class="btn admin-btn btn-outline-success">User list</button>
        </div>
        <div class="col-lg-4">
          <button class="btn admin-btn btn-outline-success">Black List</button>
          <button class="btn admin-btn btn-outline-success">User list</button>
        </div>
      </div>
    </div>
</div>

