<div class="container">
  <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <div class="list-group">
            <table class="table table-striped">
              <thead>
              <th>Id</th>
              <th>Title</th>
              <th>User</th>
              <th>Date</th>
              <th></th>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-6">
              <p></p>
              <button class="btn admin-btn btn-lg btn-outline-dark" style="margin-top: -15px;">
                <i class="fas fa-book-dead fa-4x"></i>
                <p></p>
                <h5>Black list</h5>
              </button>
              <p></p>
            </div>
            <div class="col-lg-6">
              <p></p>
              <button class="btn admin-btn btn-lg btn-outline-danger" style="margin-top: -15px;">
                <i class="far fa-trash-alt fa-4x"></i>
                <p></p>
                <h5>Dumped posts</h5>
              </button>
              <p></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <p></p>
              <button class="btn admin-btn btn-lg btn-outline-primary">
                <i class="fas fa-users fa-4x"></i>
                <p></p>
                <h5>User list</h5>
              </button>
              <p></p>
            </div>
            <div class="col-lg-6">
              <p></p>
              <button class="btn admin-btn btn-lg btn-outline-success">
                <i class="fas fa-bullhorn fa-4x"></i>
                <p></p>
                <h5>Posts reports</h5>
              </button>
              <p></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

