<div class="container">
  <div class="d-lg-flex p-2 justify-content-md-center">
    <div class="jumbotron">
      <h2>Report Post</h2>
      <small class="">Please, enter the category of the report and a short description.</small>
      <hr class="my-4">
      <%= render 'reports/form', report: @report %>
    </div>
  </div>
</div>